* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f3eae3;
}

.card {
    width: 460px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 8px;
}

.card-left-content {
    width: 50%;
    background-image: url(./images/image-product-desktop.jpg);
    background-size: cover;
    border-end-start-radius: 8px;
    border-top-left-radius: 8px;
}

.card-right-content {
    width: 50%;
    padding: 14px;
}
    

     .card-right-content__category {
        color: #b3b3b3;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 10px;
        font-weight: 600;
        margin-top: 8px;
        margin-bottom: 10px;
    }

    .card-right-content__title{
        font-size: 28px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
    }

    .card-right-content__info {
        color: #8e8d92;
        margin-top: 20px;
        font-size: 13px;
    }

    .card-right-content-cost-box {
        display: flex;
        margin-top: 20px;
        align-items: center;
    }

    .card-right-content-cost-box__cost {
        color: #3d8168;
        font-size: 28px;
    }

    .card-right-content-cost-box__sale-cost {
        color: #8e8d92;
        margin-left: 15px;
        font-size: 12px;
    }

    .card-right-content__button {
        background-color: #3d8168;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 100%;
        padding: 10px 0;
        border: none;
        border-radius: 6px;
        cursor: pointer
    }

    .card-right-content__button:hover {
        background-color: #1a4031;
        transition: 0.3s ease-in-out;
    }

    .card-right-content__button-img {
        margin-top: 10px;
    }